<nav>
    <div class="main-header main-container">
        <div class="logo-image">
            <img src="/assets/moviend-icon.png" class="img-fluid">
        </div>
        <ul class="tabbed-primary-navigation">
            <li><a href="">Ínicio</a></li>
            <li><a href="">Filmes</a></li>
            <li><a href="">Series</a></li>
        </ul>
        <div class="sencondary-navigation">
            <div class="nav-element">
                <div class="search-box">
                    <input type="text" class="search-input" name="search-box" placeholder="Pesquisar..." (keyup)="sendData($event)">
                    <a class="search-btn">
                        <img class="lupa-icon" src="/assets/search.svg" alt="lupa">
                    </a>
                </div>
            </div>
            <div class="nav-element">
                <a>
                    <img class="notification-icon" src="/assets/notification-icon.svg" alt="lupa">
                </a>
            </div>
            <div class="nav-element">
                <div class="profile">
                    <img class="profile-icon" src="/assets/profile/profile-icon.png" alt="">

                </div>
            </div>
        </div>
    </div>

</nav>